body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #141414;
	overflow-x: hidden;
}
body, html {
	height: auto;
}
img {
    vertical-align: middle;
}
hr {
	margin: 25px;
}
.unselectable {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
/* Sidebar menu */
.menu-button {
	position: fixed;
	z-index: 1;
	/* Mobile styling */
	top: 20px;
	left: 20px;
	width: 40px;
	height: 40px;
	line-height: 40px;
}
.menu-button:hover {
	cursor: pointer;
}
.menu-button-icon {
	position: absolute;
	width: 100%;
	text-align: center;
	color: white;
	pointer-events: none; /* Cursor interacts with background */
	/* Mobile styling */
	font-size: 20pt;
}
.menu-button-background {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .5;
	border-radius: 5px 5px 5px 5px;
	/* Animate opacity of background */
	-webkit-transition: opacity .15s;
	-o-transition: opacity .15s;
	transition: opacity .15s;
}
.menu-button-background:hover {
	opacity: .6;
}
.menu {
	position: fixed;
	top: 0;
	height: 100vh;
	background-color: #141414;
	-webkit-box-shadow: 3px 0 5px 0 rgba(0, 0, 0, .1);
	        box-shadow: 3px 0 5px 0 rgba(0, 0, 0, .1);
	overflow-y: auto;
	-webkit-transition: left 0.5s;
	-o-transition: left 0.5s;
	transition: left 0.5s;	
	/* Position above overlay */
	z-index: 3;
	/* Mobile styling */
	width: 85%;
}
.menu-hidden {
	left: -90%;
}
.menu-visible {
	left: 0;
}
.menu-link {
	color: white;
	-webkit-transition: background-color .05s;
	-o-transition: background-color .05s;
	transition: background-color .05s;
	/* Mobile styling */
	font-size: 12pt;
	padding: 20px;
}
.menu-link:hover {
	cursor: pointer;
	background-color: #262626;
}
.menu-link-active {
	font-weight: bold;
	background-color: #262626;
}
.overlay {
	/* Cover screen */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* Position behind menu */
	z-index: 2;
	/* Animate opacity when menu is opened*/
	background-color: black;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
	/* Ignore cursor when not shown */
	pointer-events: none;
}
/* Page content */
.page {
	min-height: 100vh;
}
.panel-container {
	width: 100vw;
}
.panel {
	background-color: #f2f2f2;
	/* Mobile styling */
	width: 100vw;
	height: min-content;
}
.left-panel {
	background-size: cover;
	background-position: top center;
	/* Mobile styling */
	height: 50vh;
}
.right-panel {
	
}
.panel-padding {
	padding: 35px 25px 35px 25px;
}
.panel-image-gradient {
	height: 100%; 
	width: 100%; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.1)), to(rgba(0,0,0,0))); 
	background-image: -o-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0)); 
	background-image: linear-gradient(to bottom, rgba(0,0,0,.1), rgba(0,0,0,0));
}
.home-panel {
	background-image: url("images/home-image.png");
}
.about-panel {
	background-image: url("images/about-image.png");
}
.music-panel {
	background-image: url("images/music-image.png");
}
.lessons-panel {
	background-image: url("images/lessons-image.png");
}
.contact-panel {
	background-image: url("images/contact-image.png");
}
/* Footer */
.footer {
	color: #808080;
	background-color: #141414;
	width: 100vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.footer-entry {
	width: 100%;
	padding-left: 25px;
	padding-top: 25px;
}
.footer-entry-last {
	padding-bottom: 25px;
}
.footer-icon {
	display: inline-block;
	color: #808080;
	font-size: 16pt;
	text-align: center;
	margin-right: 15px;
	-webkit-transition: color .15s;
	-o-transition: color .15s;
	transition: color .15s;
}
.footer-icon:hover {
	cursor: pointer;
	color: #a6a6a6;
}
.footer a {
	color: #808080;
}
/* Youtube embeds (16x9) */
.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
	margin-bottom: 15px;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Text */
.regular-text {
	font-size: 10pt;
	line-height: 165%;
}
.medium-text {
	font-size: 12pt;
}
.title-text {
	font-weight: 700;
	font-size: 24pt;
}
.subtitle-text {
	font-weight: 700;
	font-size: 16pt;
}
.small-text {
	font-size: 9pt;
}
.tiny-text {
	font-size: 7pt;
	line-height: 150%;
}
.padded-text {
	padding-bottom: 15px;
}
.quote {
	border-left: 5px solid lightgrey;
	padding-left: 10px;
	font-style: italic;
	margin-bottom: 5px;
}
/* Contact */
.contact-icon {
	font-size: 16pt;
}
.contact-icon a {
	color: black;
}
.contact-text {
	padding-left: 10px;
	/* Mobile styling */
	line-height: 16pt;
}
.contact-text a {
	text-decoration: none;
	color: black;
}
.contact-text a:hover {
	text-decoration: underline;
}
.contact-spacer {
	height: 10px;
}
/* Istagram feed */
.snapwidget-container {
	margin-top: 45px;
	cursor: pointer;
}
.snapwidget-widget {
	pointer-events: none;
}
.snapwidget-mobile {
	display: block;
}
.snapwidget-desktop {
	display: none;
}
/* Desktop styling */
@media only screen and (min-width: 960px) {
	.menu-button {
		top: 25px;
		left: 25px;
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
	.menu-button-icon {
		font-size: 24pt;
	}
	.menu {
		width: 420px;
	}
	.menu-hidden {
		left: -430px;
	}
	.menu-visible {
		left: 0;
	}
	.menu-link {
		font-size: 14pt;
		padding: 25px;
	}
	.panel {
		width: 50vw;
		height: 90vh;
		overflow-y: auto;	
		-webkit-box-shadow: 5px -5px 10px rgba(0, 0, 0, .1) inset;
		        box-shadow: 5px -5px 10px rgba(0, 0, 0, .1) inset;
	}
	.panel-padding {
		padding: 80px 60px 80px 60px;
	}
	.left-panel {
		float: left;
	}
	.right-panel {
		float: right;
	}
	.footer {
		position: fixed;
		bottom: 0;
	}
	.footer-entry {
		width: auto;
		padding-bottom: 25px;
	}
	.title-text {
		font-size: 36pt;
	}
	.medium-text {
		font-size: 18pt;
	}
	.contact-icon {
		font-size: 24pt;
	}
	.contact-icon a {
		color: black;
	}
	.contact-text {
		line-height: 24pt;
	}
}
@media only screen and (min-width: 480px) {
	.snapwidget-mobile {
		display: none;
	}
	.snapwidget-desktop {
		display: block;
	}
}